extends layout

block content
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .container-fluid
      if page > 1
        a(href=`/?pages=${page - 1}`) Prev
      if page < pages
        a(href=`/?page=${page + 1}`) Next

    .container-fluid
      each book in books
        .container-fluid
          .col-lg-2.col-md-2.col-sm-3.col-xs-6
            img.img-responsive(src=book.img_url)

          .col-lg-3.col-md-3.col-sm-9.col-xs-6
            h3.title= book.title
            .authors
              each author in book.authors
                a(href=`/authors/${author.id}`)= author.name

            .genres
              each genre in book.genres
                p=genre.title
          .col-lg-7.col-md-7.col-sm-9.col-xs-12
            p.title= book.description

    .container-fluid
      if page > 1
        a(href=`/?pages=${page - 1}`) Prev
      if page < pages
        a(href=`/?page=${page + 1}`) Next
