extends layout

block content
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .container-fluid
      if page > 1
        a.btn(href=`/?pages=${page - 1}`) Prev
      if page < pages
        a.btn(href=`/?page=${page + 1}`) Next

    .container-fluid
      each book in books
        .container-fluid.spacegiver
          .col-lg-1.col-md-1.col-sm-1.col-xs-3
            img.img-responsive(src=book.img_url)
          .col-lg-3.col-md-5.col-sm-5.col-xs-9
            h3.title
              a(href=`/book/${book.id}`)= book.title
          .col-lg-8.col-md-6.col-sm-6.col-xs-9
            .authors
              each author in book.authors
                span=author.name
            .genres
              each genre in book.genres
                span=genre.title += ', '

    .container-fluid
      if page > 1
        a.btn(href=`/?pages=${page - 1}`) Prev
      if page < pages
        a.btn(href=`/?page=${page + 1}`) Next
